{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "arrowParens": "avoid"
}
